
.jobBoxConatiner {
    /* padding: 0px 6rem; */
    display: flex;
    gap: 2rem;
    /* border: 1px solid red; */
    overflow: auto;
    /* overflow: hidden; */
    margin: 0px 6rem;
}

.jobBoxConatiner::-webkit-scrollbar {
    display: none;
}

.footerMainContainer {
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    margin: 3rem 6rem;
    border: 1px solid rgba(131, 193, 224, 0.359);
    border-radius: 10px;
    background-color: rgba(169, 243, 243, 0.06);


}